.featured-program {
    display: grid;
    grid-template-columns: 4fr 1fr;
    gap: 20px;

    background-color: #dfcd94;
    border: 1px solid #000;
    border-radius: 10px;
    padding: 10px;
}

.display-area {
    width: 100%;
    min-height: 10px;
    background-color: #fff;
    border: 1px solid #000;
    border-radius: 5px;
    padding: 15px;
}

.buttons-area {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.buttons-area button {
    background-color: #f1b900;
    border: solid 1px #000;
    color: #000;
}
